body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  background: url(./bg.svg) no-repeat center;
  background-size: cover;
}

.btn-p {
  background-color: rgb(156, 216, 156);
  color: black;
}

.btn-p:active {
  transform: scale(0.98);
}

.btn-p:focus {
  background-color: rgb(156, 216, 156);
  color: black;
}

.btn-p:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.rating span {
  color: #fff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  text-align: center;
  margin: 0.5vw;
  margin-top: 2rem;
  border: 4px solid black;
  box-shadow: 14px 14px 0 -4px pink, 14px 14px 0 0 black;
  transition: all 0.2s ease;
}

.product:hover {
  transform: scale(1.03);
}

.product img {
  margin: 5%;
  width: 90%;
  max-width: 400px;
}

.product-title {
  height: 2.4em;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 800;
  color: rgb(156, 216, 156);
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
