body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: rgb(156, 216, 156);
  color: black;
}

.rating span {
  color: #fff;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  text-align: center;
  margin: 0.5vw;
}

.product img {
  margin: 5%;
  width: 90%;
  max-width: 400px;
}

.product-title {
  height: 2.4em;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(85, 85, 85);
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
